<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Checkout Page</title>




    <!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="/css/checkout.css" rel="stylesheet">
  </head>
  <body background="BG.jpg">

<div class="container rounded mx-auto my-2" style="background-color: #bedcfa;">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="">
      <h2><strong>Checkout</strong></h2>
    </div>

    <div class="row g-3" style="padding: 5vw;">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge bg-secondary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total USD</span>
            <input type=text id=order-amt class="form-control1" >
          </li>
          <button id="order-button1" class="w-30 btn btn-primary btn-md" type="submit">Get Order ID</button>
        </ul>

        <script>

          document.getElementById('order-button1').onclick = function(e){
         var url = '/api/payment/order';
             var params = {
           amount: document.getElementById('order-amt').value*100,
           currency: "INR",
           receipt: "su001",
           payment_capture: '1'
         };

         var xmlHttp = new XMLHttpRequest();
         xmlHttp.onreadystatechange = function (res) {
             if (xmlHttp.readyState === 4) {
               res=JSON.parse(xmlHttp.responseText);
               document.getElementById('rzp-text').value=res.sub.id;
             }
         }
         xmlHttp.open("POST", url, true); // false for synchronous request
         xmlHttp.setRequestHeader("Content-type", "application/json");
         xmlHttp.send(JSON.stringify(params));
         }
         </script>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="BookXchange">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <!-- ------FORM -->
        <form class="needs-validation" method="GET" action="/success" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder=""  required value="<%=fname%>" >
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" value="<%=lname%>" id="lastName" placeholder=""  required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <!-- <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="Username" required >
              <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div> -->

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" value="<%=username%>" >
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St"   required value="<%=address%>" >
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <!-- <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select class="form-select" id="country"  required>
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">State</label>
              <select class="form-select" id="state"   required>
                <option value="">Choose...</option>
                <option>California</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder=""   required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div> -->

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address" checked>
            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info" checked>
            <label class="form-check-label" for="save-info">Save this information for next time</label>
          </div>

          <hr class="my-4">

          <!-- <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
          </div>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div> -->

          <!-- <hr class="my-4"> -->
          <div class="col-sm-6 paymentDetails">
            <label for="firstName" class="form-label">Order ID <input type=text class="form-control" id=rzp-text /></label>
          </div>
          <button class="w-100 btn btn-primary btn-lg" id="rzp-button1" type="submit">Continue to checkout</button>
          <br>
          <br>
          <br>
          <div class="col-sm-6 paymentDetails" >
            <label  class="form-label">Payment ID <input type=text class="form-control" id=order-pay-id /></label>

          </div>
          <div class="col-sm-6 paymentDetails" ><label  class="form-label">Signature <input type=text class="form-control" id="order-sig"  /></label></div>
          <button class="w-70 btn btn-primary btn-lg" id="verify-button1" type="submit" >Verify</button>


        </form>
      </div>
    </div>
  </main>

  <div id=paymentDetails></div>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>



  document.getElementById('rzp-button1').onclick = function(e){
      var options = {
      "key":"rzp_test_ItkWPnw4LP6mMZ",  //Enter your razorpay key
      "currency": "INR",
      "name": "Razor Tutorial",
      "description": "Razor Test Transaction",
      "image": "https://previews.123rf.com/images/subhanbaghirov/subhanbaghirov1605/subhanbaghirov160500087/56875269-vector-light-bulb-icon-with-concept-of-idea-brainstorming-idea-illustration-.jpg",
      "order_id": document.getElementById('rzp-text').value,
      "handler": function (response){
          document.getElementById('order-pay-id').value=response.razorpay_payment_id;
   document.getElementById('order-id').value=response.razorpay_order_id;
    document.getElementById('order-sig').value=response.razorpay_signature;
      },
      "theme": {
          "color": "#3399cc"
      }
  };
      var rzp1 = new Razorpay(options);
      rzp1.open();
      e.preventDefault();
  }
  </script>



<script>
document.getElementById('verify-button1').onclick = function(e){
var url = '/api/payment/verify';
    var params = {
  razorpay_order_id:  document.getElementById('order-id').value,
  razorpay_payment_id:  document.getElementById('order-pay-id').value,
  razorpay_signature:  document.getElementById('order-sig').value
};
var xmlHttp = new XMLHttpRequest();
xmlHttp.onreadystatechange = function (res) {
    if (xmlHttp.readyState === 4) {
alert(xmlHttp.responseText);
    }
}
xmlHttp.open("POST", url, true); // false for synchronous request
xmlHttp.setRequestHeader("Content-type", "application/json");
xmlHttp.send(JSON.stringify(params));
}
</script>
  <footer class="my-5 pt-5 text-muted text-center text-small" style="padding:5vw;">
    <p class="mb-1">&copy; 2017–2020 Book Adda</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

      <script src="/JS/checkout.js"></script>
  </body>
</html>
