<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>BOOK ADDA</title>


    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    

    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="home.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="50px" height="40px" src="Logo.png">  Study Adda</a>
        
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>

        
        <button class="btn btn-primary" type="button">Translate</button>
        <ul class="navbar-nav mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
        </ul>
  
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner dancingfont">
      <div class="carousel-item active">
        <img src="homecarousel1.jpg" class="img-fluid">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Welcome to the one stop solution of your books.</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        
        <img src="homecarousel2.jpg" class="img-fluid">
        <div class="container">
          <div class="carousel-caption">
            <h1 style="font-size: 8vw;">Witness the biggest book collection anyone can access.</h1>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        
        <img src="homecarousel3.jfif" class="img-fluid">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>So, why to wait ? Register Now for free!!!</h1>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <div class="row">
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top img-thumbnail" src="HCV.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HC Verma TextBook</h5>
        <p class="card-text">Class - 12</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author:</li>
        <li class="list-group-item">Cost: </li>
        <li class="list-group-item">Validity period:</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Rent Book</a>
        <a href="#" class="card-link">View Renter</a>
      </div>

    </div>
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top img-thumbnail" src="HCV.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HC Verma TextBook</h5>
        <p class="card-text">Class - 12</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author:</li>
        <li class="list-group-item">Cost: </li>
        <li class="list-group-item">Validity period:</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Rent Book</a>
        <a href="#" class="card-link">View Renter</a>
      </div>

    </div>
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top img-thumbnail" src="HCV.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HC Verma TextBook</h5>
        <p class="card-text">Class - 12</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author:</li>
        <li class="list-group-item">Cost: </li>
        <li class="list-group-item">Validity period:</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Rent Book</a>
        <a href="#" class="card-link">View Renter</a>
      </div>

    </div>
    <div class="card mx-auto" style="width: 18rem;">
      <img class="card-img-top img-thumbnail" src="HCV.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HC Verma TextBook</h5>
        <p class="card-text">Class - 12</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author:</li>
        <li class="list-group-item">Cost: </li>
        <li class="list-group-item">Validity period:</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Rent Book</a>
        <a href="#" class="card-link">View Renter</a>
      </div>

    </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Start Earning with your books.<span class="text-muted">So, Let's Earn and Learn together!</span></h2>
        <p class="lead">Become a Renter with us. Wipe the dust of your books and post them on our portal. Let your books Earn for you and make someone Learn as well.</p>
      </div>
      <div class="col-md-5">
        <img src="homefeature1.jpg" width="500px" height="500px" class="img-fluid">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Innovative credit system to manage your earning.<span class="text-muted">Get ready to fill your pockets.</span></h2>
        <p class="lead">Wanted to Earn but were not able to get where to start? No worries.. start renting your books which are of no use to you but useful for others. Access your credit points in your wallet to Earn and get books when you need them.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="homefeature2.jpg" width="500px" height="500px" class="img-fluid">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Door to door delivery. <span class="text-muted">Study peacefully at home.</span></h2>
        <p class="lead">We are having both options available for the users, either they can pick the books from the renter or can give us the opportunity to serve them and deliver it.</p>
      </div>
      <div class="col-md-5">
        <img src="homefeature3.jpg" width="500px" height="500px" class="img-fluid">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2020-2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

      
  </body>
</html>
