<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>

    <div class="jumbotron">
    <h1 class="display-4">Congratulations :)</h1>
    <p class="lead">Your transaction was successful</p>
    <hr class="my-4">
    <p>Thanks for visiting us.</p>
    <form class=""  method="GET" action="/dashboard">
      <button type="submit" class="btn btn-primary btn-lg btn-success" name="button" >GO HOME</button>

    </form>
  </body>
</html>
